

.container_select_news_name{
   margin-left: 2rem;
}

.container_table_news{
   margin-top: 2rem;
   margin-left: 3rem;
}

.header_table_news,.row_table_news{
   display: grid;
   grid-template-columns: 7rem 5rem repeat(3,5rem);
}

.header_table_news div{
   background-color: #34495e;
   color: #fff;
   text-align: center;
   height: 2.5rem;
   line-height: 2.5rem;
}

.row_table_news div{
   text-align: center;
   border-bottom: .1rem solid #333;
   height: 2rem;
   line-height: 2rem;
}

.container_info_news{
   width: max-content;
   margin-top: 2rem;
   margin-left: 2rem;
}

.container_info_news article{
   width: 45rem;
   margin: 1rem;
   margin-bottom: 2rem;
}

.header_info_news,.body_info_news{
   display: grid;
   grid-template-columns: 3rem 35rem 6rem 4rem 5rem;

}

.header_info_news div{
   background-color: #2471a3;
   color: #dbdadb;
   text-align: center;
   height: 2rem;
   line-height: 2rem;
}

.body_info_news div{
   border: .3rem solid #bbbb;
   border-style: inset;
   text-align: center;
   height: 2rem;
   line-height: 2rem;
}

.container_draw_one{
   width: 95vw; 
   overflow-x: auto;
   border: 1px solid #ccc; 
   padding: 1rem;
}

.draw_one{
   width: 90vw; 
   height: 400px;
   aspect-ratio: auto 1341/400;
}

.container_draw_candles{
   width: 95vw; 
   overflow-x: auto;
   border: 1px solid #ccc; 
   padding: 1rem;
}

.container_draw_candles canvas{
   width: 90vw; 
   height: 400px;
   
}

