

.container_select_news_name{
   margin-left: 2rem;
}

.container_table_news{
   margin-top: 2rem;
   margin-left: 3rem;
}

.header_table_news,.row_table_news{
   display: grid;
   grid-template-columns: 7rem 5rem repeat(3,5rem);
}

.header_table_news div{
   background-color: #34495e;
   color: #fff;
   text-align: center;
   height: 2.5rem;
   line-height: 2.5rem;
}

.row_table_news div{
   text-align: center;
   border-bottom: .1rem solid #333;
   height: 2rem;
   line-height: 2rem;
}

.container_info_news{
   width: max-content;
   margin-top: 2rem;
   margin-left: 2rem;
}

.container_info_news article{
   width: 45rem;
   margin: 1rem;
   margin-bottom: 2rem;
}

.header_info_news,.body_info_news{
   display: grid;
   grid-template-columns: 3rem 35rem 6rem 4rem 5rem;

}

.header_info_news div{
   background-color: #2471a3;
   color: #dbdadb;
   text-align: center;
   height: 2rem;
   line-height: 2rem;
}

.body_info_news div{
   border: .3rem solid #bbbb;
   border-style: inset;
   text-align: center;
   height: 2rem;
   line-height: 2rem;
}

.container_draw_one{
   width: 95vw; 
   overflow-x: auto;
   border: 1px solid #ccc; 
   padding: 1rem;
}

.draw_one{
   width: 90vw; 
   height: 400px;
   aspect-ratio: auto 1341/400;
}

.container_draw_candles{
   width: 95vw; 
   overflow-x: auto;
   border: 1px solid #ccc; 
   padding: 1rem;
}

.container_draw_candles canvas{
   width: 90vw; 
   height: 400px;
   
}


/* tables news post analaysis */


.container_post_news_analysis{
   background-color: #262627 ;
   width: max-content
}

.first_row_post_news{
   width: max-content;
   padding: 0.3rem;
}

.first_row_post_news div{
   color:#7cacf8;
   font-weight: bold;
}

.first_row_post_news div span{
   color:#54bbdb; 
   font-weight: medium;
}


.row_post_news_analysis{
   display: grid;
   grid-template-columns: 12rem repeat(2,10rem) 11rem;
   border-bottom: 0.1rem solid #ccc;
   font-weight: bold;
   width: max-content
}


.row_post_news_analysis div span:nth-child(even){
   /* border-right: .2rem solid #fff; */
   color:#987ffc;
   padding-right: 0.2rem;
   font-style: italic;
}

.row_post_news_analysis div span:nth-child(even)::after{
   content: ",";
   font-size: 20px;
   color: #fff;
   display: inline-block;
   width: 0.2rem;
   height: 1rem;
   margin-left: 4px;
   /* background-color: #987ffc; */

}

.row_post_news_analysis div span:nth-child(odd){
   color:#888;
}


.row_post_news_analysis div{
   padding:0.3rem;
   background-color: #262627;
}



.num_range{
   color: #7cacf8 !important;
   font-weight: bold;
}


